extends layout.pug
block head
  title ログアウト
block content
  .row
    .col-md-6.col-md-offset-3
      .page-header
      form(action="/agree")
      ul
        li  チンパンジー
        li  ゴリラ
        li  猿
