doctype html
html
  head
    mate(cherset="UTF-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="/bundle.js")
    block head
      title Pacrichat
  body 
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header.pull-left
          a.navbar-brand(href="/") Pacrichat
        .navbar-header.pull-right
          a.navbar-brand(href="/login") logout
        .navbar-header.pull-right
          a.navbar-brand(href="/signup") signup
        .navbar-header.pull-right
          a.navbar-brand(href="/toppage") top
        .navbar-header.pull-right
          a.navbar-brand(href="/login") login
    .container      
      block content
