doctype html
html
  head
    mate(cherset="UTF-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="/bundle.js")
    block head
      title Pacrichat
  body 
    .navbar.navbar-inverse.navbar-static-top
      .container
        ul.nav.nav-tabs
          li
            a.navbar-brand(href="/") Pacrichat
          li
            a.navbar-brand.glyphicon.glyphicon-log-out(href="/logout") 
          li
            a.navbar-brand.glyphicon.glyphicon-log-in(href="/login") 
          li
            a.navbar-brand.glyphicon.glyphicon-copy(href="/signup") 
          li
            a.navbar-brand.glyphicon.glyphicon-home(href="/toppage") 
          li
            a.navbar-brand.glyphicon.glyphicon-user(hreg="/profile")
    .container      
      block content
